@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"),
     url(~assets/OpenSans/OpenSans-Regular.ttf) format("truetype");
}

* {
    font-family: "OpenSans";
}

a { 
    text-decoration: none;
}

span{
    color: #333333 !important;
    font-family: "OpenSans" !important;
}

/* Remove arrow from collabs */
.v-expansion-panel-header__icon {
    display: none !important;
}